<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<center>
    <h1 style="color: rgb(139, 134, 0);">This is SECOND Html Page</h1>
    <div>
        <h1 style="color:rgb(56, 49, 63)"><a href="{% url 'app1:first' %} ">Navigate to first</a></h1>
    </div>
    <div>
        <h1 style="color:blueviolet"><a href="{% url 'app2:third' %} ">Navigate to third</a></h1>
    </div>
    <div>
        <h1 style="color:blueviolet"><a href="{% url 'app2:fourth' %} ">Navigate to fourth</a></h1>
    </div>
</center>    


</body>
</html>